
@import "stylectrode/index";
@import "uify/styles/index";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  TOOLBAR
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.toolbarify {

  z-index: 9990;

  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;
  display: flex;
  flex-direction: column;
  &.horizontal { flex-direction: row; } // for condensed horizontal toolbars
  background-color: @base;

  //
  //                              BUTTONS GROUPS

  .start-buttons, .middle-buttons, .end-buttons { display: flex; }
  .start-buttons, .middle-buttons { flex-direction: column; }
  .end-buttons { flex-direction: column-reverse; }
  &.horizontal {
    .start-buttons, .middle-buttons { flex-direction: row; }
    .end-buttons { flex-direction: row-reverse; }
  }

  // INTERCALAIRES
  .intercalaire {
    flex: 1;
  }

  //
  //                              BUTTONS

  // .uify-button {
  //   padding: 5px;
  // }

  // SEPARATOR PRESET
  .toolbarify-separator {
    cursor: default;
    color: grey;
    &.toolbarify-separator-vertical { transform: scaleX(10); }
    &.toolbarify-separator-horizontal { transform: scaleY(10); }
  }

  // BLANK PRESET
  .toolbarify-blank {
    cursor: default;
  }

  // PROGRESS BAR PRESET
  .toolbarify-progress_bar {
    cursor: default;
    .button_icon {
      background-color: @primary;
      color: @primaryContrast;
      height: 0%;
    }
  }

  // BLANK SPINNER
  .toolbarify-spinner {
    cursor: default;
    .button_icon { .animate-spin; }
  }

  //                              ¬
  //

}

.toolbarify-toggle_button {
  z-index: 1;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  ELEMENT TARGET OF TOOLBARIFIED
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.toolbarified {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

@import "./condensed";
@import "./hidden";
@import "./menu";
