
.toolbarify-menu {

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;

  .uify-button {
    font-size: 1.5em;
    padding: 0.2em;
  }

}

.toolbarify-swipable_area {

  position: absolute;
  z-index: 9999;

  &.left, &.right {
    height: 80%;
    width: 20px;
    top: 10%;
  }
  &.top, &.bottom {
    width: 80%;
    height: 20px;
    left: 10%;
  }
  &.left { left: 0; }
  &.right { right: 0; }
  &.top { top: 0; }
  &.bottom { bottom: 0; }

}
